# Practical_3: Iterable objects or Containers

### Exercise 1:
Create a list of integers from 1 to 10.

In [1]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [2]:
Mytuple=("apple", "banana", "cherry")
print(Mytuple)

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [3]:
numbers = [10, 20, 30, 40]
Twotuple=(numbers)
print(Twotuple)

[10, 20, 30, 40]

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [4]:
A={ 1,2,3,4,5}
print(A)

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [5]:
student={'name': 'Bassirou', 'age': 25,'grade':'Master'}
print(student)

{'name': 'Bassirou', 'age': 25, 'grade': 'Master'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [6]:
list=[10, 20, 30, 40, 50]
print(list)

[10, 20, 30, 40, 50]

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [7]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]="mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [8]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [9]:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop('age')
print(person)

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

In [10]:
numb=range(0, 10)
print(numb)

range(0, 10)

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [11]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [12]:
result = {2 * n  for n in range(10)}
print(result)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [13]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [14]:
numbers = {1, 2, 3, 4, 5}

if 3 in numbers:
     print(" 3 existe in the set")
else:
     print(" 3 does not existe in the set")

 3 existe in the set

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [15]:
numbers = (10, 20, 30)
lenght=len(numbers)
print(lenght)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [16]:
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [17]:
def function_list(n):
    n=0
    for i in n:
        n+=i
    return n

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [18]:
numbers = [ n for n in range(0,6)]
set_numbers=set(numbers)
print(set_numbers)

{0, 1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [19]:
if 'list' in globals():
    del list
text = "hello"
char_list = list(text)
print(char_list)

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [20]:
def revers_tuple(b):
    return b[::-1]

my_tuple = (1, 2, 3, 4)
reversed_tuple = revers_tuple(my_tuple)  # utiliser le bon nom de fonction
print(reversed_tuple)

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [21]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = dict1 | dict2
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [22]:
squares_dict = {x: x**2 for x in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [23]:
my_dict = {"a": 1, "b": 2, "c": 3}

for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [24]:
letters = [chr(i) for i in range(ord('a'), ord('a') + 5)]
print(letters)

['a', 'b', 'c', 'd', 'e']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [25]:
numbers = [1, 2, 3]
letters = ["a", "b", "c"]

combine = list(zip(numbers, letters))
print(combine)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [26]:
 numbers=[10, 20, 30, 40, 50]
index_50=numbers.index(50)
print(index_50)

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [27]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [28]:
def find_largest(numbers):
    return max(numbers)

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [29]:
fruits = ["apple", "banana", "apple", "orange"]
nombre_apple=fruits.count('apple')
print(nombre_apple)

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [30]:
diction_person={"name":'Alice',"age":25,"city":'New York'}
city_value=diction_person["city"]
print(city_value)

New York

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [31]:
def square_generate():
    for i in range(1, 11):
        yield i**2

my_list = [1, 2, 2, 3, 4, 4, 5]
new_list = remove_duplicates(my_list)
print(new_list)

NameError: name 'remove_duplicates' is not defined

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [ ]:
for square in square_generate():
    print(square)

Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [32]:
def sum_dict_values(d):
    return sum(d.values())

# Exemple d'utilisation
my_dict = {"a": 10, "b": 20, "c": 30}
total = sum_dict_values(my_dict)
print(total)

60

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [33]:
numbers = [3, 1, 4, 1, 5, 9]

sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [34]:
def longest_string(string):
    if not string:
        return None
    return max(string, key=len)

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [35]:
numbers = [1, 2, 3, 4, 5]

all_greater= all(n > 0 for n in numbers)
print(all_greater)

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [36]:
Mytuple=[(n, n**2) for n in range(1,6)]
print(Mytuple)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [37]:
def second_elements(tuple_list):
    return [t[1] for t in tuple_list]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [38]:
def flatten_list(list_list):
    return [item for sub in list_list for item in sub]

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [39]:
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [40]:
def function_a(my_tuple):
    if not my_tuple:
        print("The tuple is empty")
    else:
        print("The tuple is not empty")

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [41]:
def function_even():
    for n in range(1, 20):
        even_nomb=2*n
        print(even_nomb)
function_even()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [42]:
def reverse_list(liste):
    return liste[::-1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [43]:
diction_B={n: n*3 for n in range(1, 5)}
print(diction_B)

{1: 3, 2: 6, 3: 9, 4: 12}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [44]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [45]:
def get_values(dict_list, key):
    return [d[key] for d in dict_list if key in d]

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [46]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [47]:
def unique_characters(s):
    return list(set(s))

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [48]:
def sorted_lists(list1, list2):
    m = []
    i = j = 0

    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            m.append(list1[i])
            i += 1
        else:
            m.append(list2[j])
            j += 1

    
    m.extend(list1[i:])
    m.extend(list2[j:])

    return m

Exercise 51: Use the filter() function to filter out odd numbers from the list [1, 2, 3, 4, 5, 6].

In [49]:
numbers = [1, 2, 3, 4, 5, 6]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [50]:
tuples_list = [(1, 2), (3, 4), (5, 6)]

converted_dict = dict(tuples_list)
print(converted_dict)

{1: 2, 3: 4, 5: 6}

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [51]:
def difference_set(set1, set2):
    return set1.difference(set2)

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [52]:
list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [0, 2, 3, 7]

common_elements = list(set(list1) & set(list2) & set(list3))
print(common_elements)

[2, 3]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [53]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

## Exercice 56
Write a Python program that removes all empty strings from the list ["apple", "", "banana", "", "cherry"].

In [56]:
fruits = ["apple", "", "banana", "", "cherry"]
non_empty_fruits = [fruit for fruit in fruits if fruit != ""]

print(non_empty_fruits)

['apple', 'banana', 'cherry']

## Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

In [57]:
def swap_dict(d):
    return {v: k for k, v in d.items()}

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [58]:
def get_even_numbers(numbers):
    return [n for n in numbers if n % 2 == 0]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [59]:
def get_first_elements(tuple_list):
    return [t[0] for t in tuple_list]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [60]:
def remove_duplicates(lst):
    note = set()
    result = []
    for item in lst:
        if item not in note:
            note.add(item)
            result.append(item)
    return result

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [61]:
word = ["apple", "banana", "cherry", "date"]

length = list(map(len, word))

print(length)

[5, 6, 6, 4]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [62]:
def calculate_av(numbers):
    if not numbers: 
        return 0
    return sum(numbers) / len(numbers)

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [63]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`

In [64]:
from collections import Counter

fruits = ["apple", "banana", "apple", "cherry"]
count = Counter(fruits)

print(count)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [65]:
def remove_value(lst, value):
    return [item for item in lst if item != value]

# Example usage
my_list = [1, 2, 3, 2, 4, 2, 5]
value_to_remove = 2
new_list = remove_value(my_list, value_to_remove)
print(new_list)

[1, 3, 4, 5]

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [66]:
def strings_starting_with_vowel(strings):
    vowels= "Amadysow"
    return [s for s in strings if s and s[0] in vowels]

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [67]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection = set1 & set2  # or set1.intersection(set2)
print(intersection)

{3, 4}

### Exercise 68:
Write a Python function that flattens a nested list.

In [68]:
def flatten(nested_list):
    flat_list = []
    for sublist in nested_list:
        for item in sublist:
            flat_list.append(item)
    return flat_list

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [69]:
def all_unique(lst):
    return len(lst) == len(set(lst))

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [70]:
numbers = [2, 3, 4, 5]

product = 1
for n in numbers:
    product *= n

print(product)

120

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths

In [261]:
def strings_to_lengths(strings):
    return {s: len(s) for s in strings}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [262]:
# Exercise 72
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73

In [263]:
import math

factorials = [(i, math.factorial(i)) for i in range(1, 6)]
print(factorials)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [264]:
dict_list = [{"a": 1}, {"b": 2}, {"c": 3}]
merged_dict = {k: v for d in dict_list for k, v in d.items()}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [265]:
def is_subset(set1, set2):
    return set1.is_subset(set2)

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [266]:
tuples_list = [(1, 3), (2, 1), (3, 2)]
sorted_list = sorted(tuples_list, key=lambda x: x[1])
print(sorted_list)

[(2, 1), (3, 2), (1, 3)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [267]:
def positive_integers(lst):
    return [x for x in lst if x > 0]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [268]:
def union_sets(set1, set2):
    return set1 | set2

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [269]:
from functools import reduce

def product_of_list(lst):
    return reduce(lambda x, y: x * y, lst, 1)

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [270]:
chars = ['H', 'e', 'l', 'l', 'o']
string = ''.join(chars)
print(string)

Hello

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [271]:
def second_largest(lst):
    unique_numbers = list(set(lst))
    if len(unique_numbers) < 2:
        return None
    unique_numbers.sort()
    return unique_numbers[-2]

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [272]:
def sorted_keys(d):
    return sorted(d.keys())

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [273]:
from collections import Counter

def most_common(lst):
    return Counter(lst).most_common(1)[0][0]

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [274]:
def sort_by_first(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [275]:
def remove_duplicates_dict(lst):
    seen = []
    result = []
    for d in lst:
        if d not in seen:
            seen.append(d)
            result.append(d)
    return result

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [276]:
def min_max(lst):
    return (min(lst), max(lst))

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [277]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped_list = list(zip(list1, list2))
print(zipped_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [278]:
def reverse_strings(lst):
    return [s[::-1] for s in lst]

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [279]:
def sum_odds(lst):
    return sum(x for x in lst if x % 2 != 0)

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [280]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [281]:
def median(lst):
    sorted_lst = sorted(lst)
    n = len(sorted_lst)
    mid = n // 2
    if n % 2 == 0:
        return (sorted_lst[mid - 1] + sorted_lst[mid]) / 2
    else:
        return sorted_lst[mid]

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [282]:
def sum_dicts(dict_list):
    total = {}
    for d in dict_list:
        for k, v in d.items():
            total[k] = total.get(k, 0) + v
    return total

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [283]:
from collections import Counter

def mode(lst):
    count = Counter(lst)
    max_freq = max(count.values())
    return [k for k, v in count.items() if v == max_freq]

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [284]:
def sum_of_squares(lst):
    return sum(x**2 for x in lst)

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [285]:
cubes = [(i, i**3) for i in range(1, 6)]
print(cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [286]:
def primes_up_to(n):
    primes = []
    for num in range(2, n+1):
        if all(num % i != 0 for i in range(2, int(num**0.5)+1)):
            primes.append(num)
    return primes

print(primes_up_to(20))

[2, 3, 5, 7, 11, 13, 17, 19]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [287]:
def common_keys(d1, d2):
    return d1.keys() & d2.keys()

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [288]:
def long_strings(lst):
    return [s for s in lst if len(s) > 5]

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [289]:
def long_strings(lst):
    return [s for s in lst if len(s) > 5]

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [290]:
def sum_values(dict_list):
    result = {}
    for d in dict_list:
        for k, v in d.items():
            result[k] = result.get(k, 0) + v
    return result